@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.badge {
  display: inline-flex;
  padding: 11px 25px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(17, 24, 39);                                
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(17, 24, 39, 0.08);
  border-radius: 9999px;                          
}


.description{
  max-width: 760px;
  color: rgb(46, 49, 56);                                
  font-size: clamp(16px, 2.2vw, 18px);
  line-height: 1.7;
  text-align: center;
}

.center-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title{
    color: rgb(31, 41, 55);
    font-size: 3.75rem;
    line-height: 1;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.section{
  padding: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem) 0;
}

.btn{
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    border: 1px solid rgba(17,24,39,0.12);
}

