.header{
    padding: 24px 0 19px  0;
    /* position: sticky; */
    top: 0;
    background-color: #fff;
    z-index: 20;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Satisfy", cursive;
    font-size: 25px
    ;
}

.menu__list{
    display: flex;
    gap: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    font-size: clamp(1.125rem, 0.966rem + 0.8vw, 1.563rem);
}

.active{
    color: #1AE0EC;
}

.header__logo-link img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.menu__link{
    transition: all 0.5s;
}

.menu__link:hover{
    color: #1AE0EC;
    transform:scale(0.9);
}


.menu__icons{
    display: none;
}


@media(max-width: 666px){
    .header__menu{
        display: none;
    }

    
    .menu__icons {
        display: block;
        width: 35px;
        height: 20px;
        position: relative;
        z-index: 5;
        cursor: pointer;
        padding: 0 5px;
        margin-left: 5px;
    }

    .burger {
        background-color:#1AE0EC;
        transform: translateY(-50%);
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 3px;
        padding: 0 5px;
    }

    .burger:first-child {
        top: 0;
        /* transform: translateY(0); */
    }

    .burger:last-child {
        bottom: 0;
        top: auto;
        /* transform: translateY(0); */

    }

    .menu{
        position: absolute;
        right: -100%;
        top: 105px;
        width: 100%;
        background-color: rgb(18, 128, 178, 0.9);
        color: #fff;
        overflow: auto;
        z-index: 22;
        transition: all 0.8s;
        display: block;
        padding: 30px 0;
    }

    .menu__list{
        flex-direction: column;
        align-items: center;
    }


/* =================active============== */
    ._active {
        right: 0px;
        z-index: 50;
    }

    ._active span {
        transform: scale(0);
        transition: .3s;
    }

    ._active span:first-child {
        transform: rotate(-45deg);
        top: calc(50% - 2px);
    }

    ._active span:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - 2px);
    }
}