.project__name{
    padding: clamp(5rem, 3.636rem + 6.82vw, 8.75rem) 0;
    background-image: url(../images/header-background.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;   
    position: relative; 
}

.project__name::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #13E8F163;
}


.project__name-inner{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 10px;
}

.project__name-title{
    z-index: 3;
    margin-bottom: 20px;
}

.project__name-text{
    max-width: 810px;
    z-index: 3;

}

.project__name-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    margin-top: 32px;
}

.project__name-link{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    border-radius: 15px;
    z-index: 3;
    position: relative;
    transition: ease 0.7s;
    font-size: 16px;
    padding-right: 15px;
}

.project__name-link:hover{
    transform: scale(1.2);
    background-color: #EBFEFF;
}

.project__name-link::after{
    content: '';
    width: 12px;
    height: 11px;
    background-image: url(../images/back.png);
    background-size: 12px 11px;
    position: absolute;
    left: 10px;
    top: 9px;
}

/* ========================================= */


.project__skills{
    box-shadow: 2px 2px 2px rgb(187, 187, 187);
    position: relative;
}


.skills__list{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

/* ========================================= */

.project {
    background-color: #EBFEFF;
    padding: clamp(3.75rem, 2.841rem + 4.55vw, 6.25rem) 0;
}

.project__img{
    padding: 0 10px;
}

.project__img img{
    margin: 0 auto;
    box-shadow: 0px 0px 40px #00000066;
}

/* ========================================= */


.footer__inner{
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}

.footer__inner{
    background-color: #000000;
    color: #1AE0EC;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}